.text {
  color: white;
  padding: 20px;
  font-size: 20px;
  font-weight: bold; 
  line-height: 1.6;
  margin-bottom: 20px;
  position: relative;
  top: -80px;
  text-align: center; /* テキストを中央寄せにする */
  border-radius: 10px;

	/* 光るネオングラデーション */
	background: linear-gradient(to right, #f40909, #ff0000, #f40909);
	animation: gradient 1s infinite;
  
	/* グリッチエフェクト */
	text-shadow: 
	  1px 1px 1px #f40909,
	  2px 2px 1px #000;
	animation: glitch 2s infinite;  
  
  }
  
  /* グラデーションアニメーション */
  @keyframes gradient {
	0% {background-position: 0% 50%;}
	50% {background-position: 100% 50%;}
	100% {background-position: 0% 50%;}
  }
  
  /* グリッチアニメーション */  
  @keyframes glitch {
	0% {text-shadow: none;}
	20% {text-shadow: 
	  1px 1px 1px #f40909,
	  2px 2px 1px #000;}
	100% {text-shadow: none;}
  }
