.text {
  font-size: 14px;
  background-color: #ee0909;
  line-height: 1.6;
  margin-bottom: 20px;
  position: relative;
  top: -80px;

  /* ホラー要素のスタイル */
  color: #ede7e7; /* 赤い文字色 */
  text-shadow: 1px 1px #000; /* 微妙に影を付ける */
  font-family: "CreepyFont", cursive; /* ホラーフォント */
  
  }
