@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.triangle-button {
  width: 0;
  height: 0;
  border-style: solid;
  cursor: pointer;
}

.triangle-left {
  border-width: 20px 30px 20px 0;
  border-color: transparent #ffffff transparent transparent;
}

.triangle-right {
  border-width: 20px 0 20px 30px;
  border-color: transparent transparent transparent #ffffff;
}

/* ボタンの位置調整（必要に応じて調整） */
.triangle-button-position {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}
