@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
.text {
  position: absolute;
  left: 0; 
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@font-face {
  font-family: 'Horror1';
  src: url('/fonts/horror1.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Horror2';
  src: url('/fonts/horror2.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Horror3';
  src: url('/fonts/horror3.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Horror4';
  src: url('/fonts/horror4.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.triangle-button {
  width: 0;
  height: 0;
  border-style: solid;
  cursor: pointer;
}

.triangle-left {
  border-width: 20px 30px 20px 0;
  border-color: transparent #ffffff transparent transparent;
}

.triangle-right {
  border-width: 20px 0 20px 30px;
  border-color: transparent transparent transparent #ffffff;
}

.triangle-down {
  border-width: 60px 0 20px 30px;
  border-color: transparent transparent transparent #ffffff;
}

/* ボタンの位置調整（必要に応じて調整） */
.triangle-button-position {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}
.triangle-button.triangle-down {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 60px solid #ffffff; /* or your desired color */
}

.custom-cursor {
  cursor: url('/path/to/custom-cursor.png'), auto;
}
.modal {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  width: 100%; /* modalのwidthが100% */
  
}
.modal-box {
  max-width: 900px;
  height: 150px;
  padding: 20px;
}

.modal p {
  font-size: 15px;
}
.red-text {
  color: red; 
}

.modal-content {
  margin: auto;
  padding: 20px;
  background-color: white;
  width: 80%;
}

.btn-error {
  color: #fff;
  background-color: #000;
  border: 2px solid #000;
  
}

/* ホバー時 */  
.btn-error:hover {
  color: #000;
  background-color: #fff;
  border: 2px solid #000;
}
.reset {

  /* 見た目 */
  background: #000000; 
  color: #fff;
  border: 1px solid #000000; 
  border-radius: 25px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.1);
  
  width: 120px;
  /* サイズ */
  padding: 10px 20px 10px 20px;
  font-size: 10px;

  /* 位置 */  
  position: absolute;
  top: 500px;
  right: 650px;
}


/* ホバー時 */
.reset:hover {
  background-color: #ffffff;
  color: #000000;
}
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

:root {
	--red: rgb(59, 4, 255);
	--blue: rgb(212, 41, 15);
	--green: rgb(7, 108, 7);
}

.clean-my-button {
  position: fixed; /* 画面に対して固定位置 */
  left: 25%;       /* 左から画面の50%の位置 */
  bottom: 400px;    /* 画面の下から20pxの位置 */
  transform: translateX(-50%); /* X軸に沿って中央揃え */
  /* その他のスタイリング（サイズ、色、フォント等） */
}

.dirty-my-button {
  position: fixed; /* 画面に対して固定位置 */
  left: 75%;       /* 左から画面の50%の位置 */
  bottom: 400px;    /* 画面の下から20pxの位置 */
  transform: translateX(-50%); /* X軸に沿って中央揃え */
  /* その他のスタイリング（サイズ、色、フォント等） */
}

.c-button {
  position: absolute;
  left: 0; 
}

.d-button {
  position: absolute; 
  right: 0;
}



.my-button {
  font-family: font-horror2;
  margin-left: 10px;
  font-size: 3xl;
  position: fixed; /* 画面に対して固定位置 */
  left: 50%;       /* 左から画面の50%の位置 */
  bottom: 300px;    /* 画面の下から20pxの位置 */
  transform: translateX(-50%); /* X軸に沿って中央揃え */
  /* その他のスタイリング（サイズ、色、フォント等） */
  
}
.my-buttons {
  position: fixed; /* 画面に対して固定位置 */
  left: 75%;       /* 左から画面の50%の位置 */
  bottom: 300px;    /* 画面の下から20pxの位置 */
  transform: translateX(-50%); /* X軸に沿って中央揃え */
  /* その他のスタイリング（サイズ、色、フォント等） */
}
.game-start {
  border-radius: 30px; 
  padding: 15px 30px;
  position: fixed; 
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  transition: transform 0.1s;
  font-weight: bold;

  font-size: 24px;
  color: #eae4e4;
  background: rgb(233, 224, 224); 
  background: linear-gradient(to bottom, #f60b0b, #950404);
  border-radius: 5px;
  padding: 10px 20px;
  

  box-shadow: 1px 1px #000, 
              inset 2px 2px 0 rgba(255,255,255,0.5),
              0 0 15px rgba(0,0,0,0.6);
              
              background-color: #f60b0b; /* ダークグレーのボタン背景 */
              color: #e8dcdc;
              border: none;
              padding: 10px 20px;
              text-transform: uppercase;
              font-size: 18px;
              cursor: pointer;
              border-radius: 5px;
              box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6); /* 影をつけて立体感を出す */
              transition: background-color 0.3s ease;
  
  
  transition: 0.5s;
  transform: skewZ(-5deg);
  text-shadow: 1px 1px rgb(23, 16, 16);
   animation: creepy-font 2s infinite;
   text-shadow: 1px 1px rgb(23, 16, 16);
   animation: creepy-font 2s infinite;
   background: linear-gradient(to right, #f40909, #ff0000, #f40909);
   animation: gradient 5s infinite;
   
   /* グリッチエフェクト */
   text-shadow: 
     1px 1px 1px #f40909,
     2px 2px 1px #000;
   animation: glitch 2s infinite;

  
}



.game-start:active {
  transform: translateX(-48%) translateY(-10%) scale(0.95);
  opacity: 0.85;
  transition: transform 0.1s, opacity 0.2s; 
  box-shadow: 0 0 12px rgba(0,0,0,0.4);

}

.game-start:hover {
  background: rgb(229, 225, 225);
  background: linear-gradient(to bottom,#ff1a1a,#820404); 

}
.game-start:active::after {
  content: "";
  animation: click-feedback 0.3s ease;
}

@keyframes click-feedback {
  0% {transform: scale(1);}
  100% {transform: scale(1.01); opacity: 0;}
}

@keyframes flutter {
  0% {
    text-shadow: 
      1px 1px 2px #000,
      0 0 4px rgba(215, 51, 51, 0.8);
  }

  50% {
    text-shadow: 
      1px 1px 2px #000,
      0 0 8px rgba(234, 8, 8, 0.8);
  }

  100% {
     text-shadow:
      1px 1px 2px #000,
      0 0 4px rgba(248, 16, 16, 0.8);
  }
}

@keyframes flutter {
  0% {transform: translateX(-50%);}
  50% {transform: translateX(-52%);}
  100% {transform: translateX(-50%);} 
}

.invite-text {
  /* テキストの位置 */
  position: fixed;
  left: 50%;
  bottom: 0px;
  
  transform: translateX(-50%);
  
  /* フォント */
  font-size: 14px;
  color: #ffffff;
  
  /* 背景 */
  background: #1e1c1c;
  padding: 5px 10px;
  border-radius: 4px;
  
  /* 影 */
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  }

.invite-code {
     /* "この部屋の招待コード"のテキストのスタイル */
     width: 110px;
     position: fixed;
     left: 50%;
     top: 140px;  
     transform: translateX(-50%);
   
     /* フォントと文字 */
     font-size: 16px; /* フォントサイズを少し大きく */
     color: #333; /* 色をダークグレーに */
   
     /* 背景と影 */ 
     background: #fff; /* 背景色を白に */
     box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* 影を少し控えめに */
   
     /* パディングとボーダーラディウス */
     padding: 10px 20px;
     border-radius: 5px;
  /* {params.slug}のテキストのスタイル */
  opacity: 0.7;
transition: opacity 0.2s;
}

.invite-code:hover,
.invite-code:active {
opacity: 1; /* ホバー時に不透明度を戻す */
}
.invite-code.clicked {
  opacity: 1;
  }
.typing {
  width: 50ch; 
  animation: typing 2s steps(16), blink .5s step-end infinite alternate; 
  
  border-right: 3px solid; 
  font-size: 2em;
  
}
.text-container {
  position: relative;
  bottom: 650px
}

.text-container .text {
  position: absolute;
  left: 0;
  bottom: 0; 
}
.new_twitter .fa-twitter:before {
  content: '𝕏' !important;
  font-family: sans-serif !important;
  font-weight: bold;
}

@font-face {
  font-family: 'DancingScript';
  src: url('/fonts/DancingScript.woff2') format('woff2');
}

.thanks-message {
  font-family: 'DancingScript', cursive; 
  font-size: 140px;
  color: #ffffff;
  text-shadow: 1px 1px 1px #333;
  position: absolute; /* テキストの位置を絶対位置に設定 */
  top: 30%; /* 上から50%の位置に配置 */
  left: 50%; /* 左から50%の位置に配置 */
  transform: translate(-50%, -50%); /* テキスト自体をその中心に移動 */
  white-space: nowrap; /* 改行を防ぐ */
}
.icon {
  padding-top: 10px;    /* 上に10pxのパディングを設定 */
  padding-right: 10px;  /* 右に20pxのパディングを設定 */
  padding-bottom: 10px; /* 下に30pxのパディングを設定 */
  padding-left: 10px;   /* 左に40pxのパディングを設定 */
  border-radius: 10px 10px 10px 10px;
  position: absolute; /* アイコンの位置を絶対位置に設定 */
  top: 47%; /* 上から50%の位置に配置 */
  left: 51.5%; /* 左から50%の位置に配置 */
  transform: translate(-50%, -50%); /* アイコン自体をその中心に移動 */
  color: red; /* アイコンの色を赤に設定 */
  background-color: black;
}

.game-start-host {
  border-radius: 30px; 
  padding: 15px 30px;
  position: fixed; 
  left: 50%;
  bottom: 180px;
  transform: translateX(-50%);
  transition: transform 0.1s;
  font-weight: bold;

  font-size: 24px;
  color: #eae4e4;
  background: rgb(233, 224, 224); 
  background: linear-gradient(to bottom, #f60b0b, #950404);
  border-radius: 5px;
  padding: 10px 20px;

  box-shadow: 1px 1px #000, 
              inset 2px 2px 0 rgba(255,255,255,0.5),
              0 0 15px rgba(0,0,0,0.6);
              
              background-color: #f60b0b; /* ダークグレーのボタン背景 */
              color: #e8dcdc;
              border: none;
              padding: 10px 20px;
              text-transform: uppercase;
              font-size: 18px;
              cursor: pointer;
              border-radius: 5px;
              box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6); /* 影をつけて立体感を出す */
              transition: background-color 0.3s ease;
  
  
  transition: 0.5s;
  transform: skewZ(-5deg);
  text-shadow: 1px 1px rgb(23, 16, 16);
   animation: creepy-font 2s infinite;
   background: linear-gradient(to right, #f40909, #ff0000, #f40909);
   animation: gradient 5s infinite;
   
   /* グリッチエフェクト */
   text-shadow: 
     1px 1px 1px #f40909,
     2px 2px 1px #000;
   animation: glitch 2s infinite; 

}

@keyframes creepy-font {
  0% {font-size: 24px;}
  50% {font-size: 30px;}
  100% {font-size: 24px;}
  text-shadow: 
	  1px 1px 1px #f40909,
	  2px 2px 1px #000;
	animation: glitch 2s infinite;  
  
  }
  
  /* グラデーションアニメーション */
  @keyframes gradient {
	0% {background-position: 0% 50%;}
	50% {background-position: 100% 50%;}
	100% {background-position: 0% 50%;}
  }
  
  /* グリッチアニメーション */  
  @keyframes glitch {
	0% {text-shadow: none;}
	20% {text-shadow: 
	  1px 1px 1px #f40909,
	  2px 2px 1px #000;}
	100% {text-shadow: none;}
  }


.game-start-host:active {
  transform: translateX(-48%) translateY(-10%) scale(0.95);
  opacity: 0.85;
  transition: transform 0.1s, opacity 0.2s; 
  box-shadow: 0 0 12px rgba(0,0,0,0.4);

}

.game-start-host:hover {
  background: rgb(229, 225, 225);
  background: linear-gradient(to bottom,#ff1a1a,#820404); 

}
.game-start-host:active::after {
  content: "";
  animation: click-feedback 0.3s ease;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
.game-start-host-door {
  border-radius: 30px; 
  padding: 10px 10px;
  position: fixed; 
  left: 700px;
  bottom: 300px;
  transform: translateX(-50%);
  transition: transform 0.1s;
  font-weight: bold;
  width: 180px; /* ボタンの幅を200pxに設定 */
  height: 60px;

  font-size: 24px;
  color: #eae4e4;
  background: rgb(233, 224, 224); 
  background: linear-gradient(to bottom, #ffffff, #950404);
  border-radius: 5px;
  padding: 10px 20px;

  box-shadow: 1px 1px #000, 
              inset 2px 2px 0 rgba(255,255,255,0.5),
              0 0 15px rgba(0,0,0,0.6);
              
              background-color: #1b471b; /* ダークグレーのボタン背景 */
              color: #ffffff;
              border: none;
              padding: 10px 20px;
              text-transform: uppercase;
              font-size: 18px;
              cursor: pointer;
              border-radius: 5px;
              box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6); /* 影をつけて立体感を出す */
              transition: background-color 0.3s ease;
  
  
  transition: 0.5s;
  transform: skewZ(-5deg);
  text-shadow: 1px 1px rgb(23, 16, 16);
   animation: creepy-font 2s infinite;
   background: linear-gradient(to right, #000000, #000000, #000000);
   animation: gradient 5s infinite;
   
 

}



.game-start-host-door:active {
  transform: translateX(-48%) translateY(-10%) scale(0.95);
  opacity: 0.85;
  transition: transform 0.1s, opacity 0.2s; 
  box-shadow: 0 0 12px rgba(0,0,0,0.4);

}

.game-start-host-door:hover {
  background: rgb(229, 225, 225);
  background: linear-gradient(to bottom,#000000,#000000); 

}
.game-start-host-door:active::after {
  content: "";
  animation: click-feedback 0.3s ease;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
.copy-message {
  animation: fade-out 1s ease-out forwards; 

  position: fixed; /* 画面に対して固定位置 */
  left: 60%;
}
@keyframes fade-out {
    0% {
    opacity: 1;
    }
    99% {
    opacity: 1;
    }
    80% {
      opacity: 1;
      }
    100% {
    opacity: 0;
    }
  }


  .end-button {
  position: absolute;
  right: 80px;
  bottom: 30px;
  /* サイズ */
  display: inline-block;
  padding: 20px 40px; /* パディングを大きく */
  border-radius: 4px;
  
  /* 色 */
  background-color: #111010; /* 色をより鮮やかに */
  color: white;
  
  /* フォント */
  font-size: 24px; /* フォントサイズを大きく */
  font-weight: bold;
  text-align: center;
  
  /* その他 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s, transform 0.2s; /* transformのトランジションを追加 */
}

.end-button:hover {
  background-color: #ffffff; /* ホバー時の色を変更 */
  transform: scale(1.05); /* ホバー時にボタンを少し大きく */
  color: rgb(0, 0, 0);
}

.end-button:active {
  background-color: #ffffff; /* アクティブ時の色を変更 */
  box-shadow: none;
  transform: translateY(2px) scale(0.9); /* アクティブ時にボタンを少し小さく */
}

.exit {

  /* 中央配置 */
  position: absolute;
  top: 20px;
  right: 20px;

  all: unset;
  display: flex;
  align-items: center;
  padding: 0.6em 2em;
 

  /* その他スタイル */
  all: unset;
  display: flex;
  align-items: center;
  padding: 0.6em 2em;
  border: mediumspringgreen solid 0.15em;
  border-radius: 0.25em;
  color: mediumspringgreen;
  font-size: 1.5em;  
  font-weight: 600;
  cursor: pointer;
  overflow: hidden;
  transition: border 300ms, color 300ms;
  user-select: none;

}







.congratulation {

  /* 文字を中央上寄せ */
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* その他のスタイル */
  font-size: 100px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: #e1ff00;
  text-transform: uppercase;
  letter-spacing: 20px;
  
  background: linear-gradient(to right, #663dff, #da22ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  text-shadow:
    2px 2px 0 #ffff00,
    -2px -2px 0 #fbff00,
    -2px 2px 0 #fff200,
    2px -2px 0 #eaff00;
    
  animation: shine 2s forwards;
}

@keyframes shine {
  from {
    background-position: 0;
  }
  to {
    background-position: 600px;  
  }
}